<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Information -->
    <meta name="author" content="Anderson Anizio">
    <meta name="copyright" content="" />
    <meta name="description" content="Landing Page Flexbox Template">
    <meta name="keywords" content="">
    <title>Campus Career Portal</title>

    <!-- Page Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}" />
    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <header class="main-header">
    <div class="main-header-bg" style="background-image: url('/static/mainbg.svg'); background-size: 600px 1000px; background-repeat:no-repeat;"></div>
        <div class="main-container main-header-wrapper">
            <div class="main-header-top">
                <h1 class="logo"><a href="/">Campus Career Portal</a></h1>
                <nav class="main-menu">
                    <a href="#">Home</a>
                    <a href="#work">Employers</a>
                    <a href="#services">Students</a>
                    <a href="#testimonials">Recruiters</a>
                </nav>
            </div>

            <div class="hero">
                <h2>Campus Career Portal</h2>
                <h3>Your Placement Solution</h3>
            </div>
        </div>
    </header>

    <!-- Employer Section -->
    <section id="work" class="work section">
        <div class="main-container">
            <h2 class="section-title">What We Do</h2>
            <p class="section-desc" style="font-weight: bolder; font-size: 42px;">Full-time. Part-time. Paid internships.</p>
            <br>
            <br>
            <br>

            <h2 class="section-title" style="font-size: 18px;">Campus Career Portal has the latest jobs from employers hiring at your school</h2>
            <hr class="section-divider">

            <div class="gallery" style="margin:10%">
                <div class="gallery__row">
                    <div class="gallery__item gallery__item--small" style="background-size: 300px 600px; background-repeat:no-repeat; background-image: url(/static/job.svg); background-color: aliceblue;" ></div>
                    <div class="gallery__item gallery__item--small" style="background-size: 400px 600px; background-repeat:no-repeat; background-image: url(/static/work.svg); background-color: aliceblue;" ></div>
                </div>
                <div class="gallery__row">
                    <div class="gallery__item gallery__item--small" style="background-size: 400px 600px; background-repeat:no-repeat; background-image: url(/static/offer.svg); background-color: aliceblue;" ></div>
                    <div class="gallery__item gallery__item--small" style="background-size: 400px 600px; background-repeat:no-repeat; background-image: url(/static/interview.svg); background-color: aliceblue;" ></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Students Section -->
    <section id="services" class="services section section-state--odd">
        <div class="main-container">
            <h2 class="section-title">Features and Services</h2>
            <h2 class="section-title"  style="font-size: 17px;">We are the the only placement solution you will ever need!</h2>
            <hr class="section-divider">

            <div class="grid">
                <div class="grid__item">
                    <i class="fas fa-tasks"></i>
                    <h4>Find jobs for you</h4>
                    <p>Receive personalized job recommendations</p>
                </div>
                <div class="grid__item">
                    <i class="fas fa-laptop-code"></i>
                    <h4>Access to Recruiters and Intuitive Personalization Options</h4>
                    <p>Personalize your profile and get connected with potential recruiters</p>
                </div>
                <div class="grid__item">
                    <i class="fas fa-people-arrows"></i>
                    <h4>Get Hired</h4>
                    <p>Apply to jobs meant for students like you</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Recruiters Section -->
    <section id="testimonials" class="testimonials section">
        <div class="main-container">
            <h2 class="section-title">What Others Say</h2>
            <blockquote class="testimonial">
                <h2 class="section-title"  style="font-size: 17px;">"CCP made the otherwise stressful and headache-inducing process of applying to jobs extremely accessible and efficient. After filling-out my profile and uploading my resume, I was impressed by how quickly relevant employers reached out to me."</p>
                <cite class="testimonial__author">— Jane Doe</cite>
            </blockquote>
            <blockquote class="testimonial">
                <h2 class="section-title"  style="font-size: 17px;">"Campus Career Portal made my internship search a million times easier by passing my information to recruiters from specific companies whose values resonate with me and whose products I’m passionate about. I was ecstatic I got matched with TripAdvisor and I’m super excited to join them this summer!"</p>
                <cite class="testimonial__author">— John Doe</cite>
            </blockquote>
            <blockquote class="testimonial">
                <h2 class="section-title"  style="font-size: 17px;">"I wasn’t completely sure what company I wanted to work for, but RippleMatch allowed me to match with companies that I hadn’t previously considered. They made the process so easy because they took into account my skills to find jobs that I would thrive in."</p>
                <cite class="testimonial__author">— Jessie Jones</cite>
            </blockquote>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section id="newsletter" class="newsletter section section-state--odd">
        <div class="main-container">
            <h2 class="section-title">Join Our Newsletter</h2>
            <h2 class="section-title" style="font-size: 18px;">Get recruited for your next job
                Enter your .edu email address to get started!</h2>
            <hr class="section-divider">

            <form action="#" class="newsletter__form">
                <input type="email" placeholder="Your best email">
                <input type="submit" class="btn-primary" value="Subscribe Now">
            </form>
        </div>
    </section>

    <footer style=" background-color: rgb(68,129,235);">
        <div class="main-container">
            <div class="social-networks">
                <a href="#" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                <a href="#" title="Facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" title="GitHub"><i class="fab fa-github-square"></i></a>
                <a href="#" title="Medium"><i class="fab fa-medium"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>