<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Recruiter Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard-style.css') }}">
</head>

<style>


.sidebar-menu ul ul li a {
  color: white;
  padding-left: 25px;
}

.sidebar-menu ul ul li {
   margin-bottom: 2%;
   width: 200px
}

.sidebar-menu ul ul {
display: none
}

.sidebar-menu li:hover > ul {
        display: block;
                
}

/* On mouse-over */
.sidebar-menu li a:hover, .user-btn:hover {
  text-decoration: underline;
}


.user-btn:hover + .hidden {
  display: block;
}

</style>

<body>
    
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span> 
                <span style="font-family: Quicksand, sans-serif; font-size: 12px;">Campus Career Portal</span>
            </h3> 
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/recruiter_dashboard">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </span>
                    </a>
                </li>

                <li>
                    <a href="" class="user-btn">
                        <span class="ti-clipboard"></span>
                        <span>Applications</span>
                    </a>

                </li>
                <li>
                    <a href="">
                        <span class="ti-calendar"></span>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="" class="user-btn">
                        <span class="ti-id-badge"></span>
                        <span>Jobs<span class="ti-arrow-down"></span></span>
                    </a>

                    <ul id="user-show">
                        <li>
                            <a href="/post_job">
                                <span class="ti-pencil-alt"></span>
                                <span class="text">Submit Job to CSO</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="ti-archive"></span>
                                <span class="text">Your Jobs</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="ti-bolt-alt"></span>
                                <span class="text">Active Jobs</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <span class="ti-bar-chart-alt"></span>
                        <span>Reports</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="ti-search"></span>
                        <span>Search Students</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="ti-settings"></span>
                        <span>Account Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="main-content">
        
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>
            
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>
        
        <main>
            
            <h2 class="dash-title">Recruiter Dashboard Overview</h2>
            
            <div class="dash-cards">

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-user"></span>
                        <div>
                            <h5>Candidates to Review</h5>
                            <h4>40</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Jobs to be Approved by CSO</h5>
                            <h4>33</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Approved Candidates</h5>
                            <h4>55</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>
            </div>

            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card" style="height:95% !important">
                        <h3>Recent activity</h3>
                        
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Job Posting</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Total Applicants</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Android Developer</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>44</td>
                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Logo Designer</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>22</td>

                                        <td>
                                            <span class="badge warning">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Database Administrator</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>12</td>

                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Front-end Developer</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>66</td>

                                        <td>
                                            <span class="badge warning">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Web Developer</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>88</td>

                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Data Scientist</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>26</td>

                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Data Analyst</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>26</td>

                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Software Architect</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>26</td>

                                        <td>
                                            <span class="badge success">Active</span>
                                        </td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="summary">
                        <div class="summary-card">
                            <div class="summary-single">
                                <span class="ti-id-badge"></span>
                                <div>
                                    <h5>196</h5>
                                    <small>Students registered</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-world"></span>
                                <div>
                                    <h5>56</h5>
                                    <small>Companies registered</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-calendar"></span>
                                <div>
                                    <h5>16</h5>
                                    <small>Active Recruitment Drives</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-briefcase"></span>
                                <div>
                                    <h5>12</h5>
                                    <small>Companies Pending for Approval</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-user"></span>
                                <div>
                                    <h5>34</h5>
                                    <small>Students Hired</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-announcement"></span>
                                <div>
                                    <h5>77</h5>
                                    <small>Jobs Posted</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-clipboard"></span>
                                <div>
                                    <h5>112</h5>
                                    <small>Job Applications Submitted</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-headphone-alt"></span>
                                <div>
                                    <h5>12</h5>
                                    <small>Students To Be Interviewed</small>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </section>
            
        </main>
        
    </div>
    
</body>

</html>
