<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <title>FAST Career Portal</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{{ url_for('create_recruiter') }}" role="form" method="post" action="" class="sign-in-form" style="margin-top:5%;">
            <h2 class="title">Recruiter Sign Up Form</h2>

            {{ form.hidden_tag() }} 

            <div class="card-header" style="align-items: center;">
              <h6 class="card-category" style="font-size: 16px;">
                  {% if msg %}
                    <span class="text-danger">{{ msg | safe }}</span>
                  {% else %}
                    Complete your credentials
                  {% endif %}  
              </h6>
            </div>


            <div class="input-field">
                <i class="fas fa-envelope"></i>
                {{ form.email(class="form-control", type="email") }}
              </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{ form.full_name(class="form-control") }}
            </div>
            <div class="input-field">
                <i class="fas fa-building"></i>
                {{ form.company_name(class="form-control") }}
              </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{ form.password(class="form-control", type="password") }}
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                {{ form.password_confirm(class="form-control", type="password") }}

                {% for error in form.password_confirm.errors %}
                <ul>
                  <li style="color: red;">{{error}}</li>
                </ul>
                {% endfor %}

              </div>
              <div class="input-field">
                <i class="fas fa-mobile"></i>
                {{ form.contact_number(class="form-control") }}
              </div>

            <button class="btn btn-warning" id="button1" style="font-size:13px;"  type="submit" name="register" class="btn btn-fill btn-primary" style = "top:-100px; left:90px">Register</button>
            <br>
            <p class="social-text">Want to know what we do?
            <a style="text-decoration: none; color:#4481eb" href="/learn_more">Learn More</a>
          </p>
          </form>
          
          <form action="{{ url_for('login') }}" role="form" method="post" action="" class="sign-up-form" style="margin-top:5%;">
              
            {{ form1.hidden_tag() }} 

            <h2 class="title">Sign in</h2>
            <h2 class="title">OR</h2>

            <h6 class="card-category" style="font-size: 14px;">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
              <span>
              <a style="color:#4481eb; font-size: 18px;" href={{ url_for('create_recruiter') }} >Create Your Own User</a>
              </span>
              {% endif %}  
          </h6>

            <div class="input-field">
              <i class="fas fa-envelope"></i>
              {{ form1.email(class="form-control") }}
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{ form1.password(class="form-control", type="password") }}
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <br>
            <p class="social-text">Want to know what we do?
            <a style="text-decoration: none; color:#4481eb" href="/learn_more">Learn More</a>
            </p>

          </form>

        </div>
      </div>

      <div class="panels-container" style="margin-top: -5.5%;">
        <div class="panel left-panel">
          <div class="content" style="margin-right: 15%;">
            <h3>Need a jump start on your career?</h3>
            <p>
              Sign In Campus Career Portal As
            </p>
            <button class="btn transparent" id="sign-up-btn" style="margin-right:15px; margin-bottom: 10px;">
              Recruiter
            </button>
            <button class="btn transparent" id="sign-up-btn1" style="margin-right:15px; margin-bottom: 10px;">
                Student
              </button>
              <button class="btn transparent" id="sign-up-btn2" style="margin-right:15px; margin-bottom: 10px;"> 
                CSO
              </button>
          </div>
          <img src="{{ url_for('static', filename='career.svg') }}" class="image" alt="" style="margin-right: 15%; margin-top: -30%;"/>
        </div>

        <div class="panel right-panel" style="margin-top: 10%;">
          <div class="content">
            <h3>Want to be one of us?</h3>
            <p>
                Sign Up and Get The Most Out of Our Powerful Platform!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Back To Home
            </button>
          </div>
          <img src="{{ url_for('static', filename='register.svg') }}" class="image" alt=""  style="margin-right: -15%;"/>
        </div>
      </div>
    </div>

  </body>
</html> 

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const sign_up_btn1 = document.querySelector("#sign-up-btn1");
const sign_up_btn2 = document.querySelector("#sign-up-btn2");

const container = document.querySelector(".container");

sign_up_btn.addEventListener("click", () => {
container.classList.add("sign-up-mode");
});

sign_up_btn1.addEventListener("click", () => {
container.classList.add("sign-up-mode");
});

sign_up_btn2.addEventListener("click", () => {
container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
container.classList.remove("sign-up-mode");
});
</script>
{% endblock javascripts %}
